.footer {
  padding: 45px 0;
  &__container {
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: center;
    @media (max-width: 467.98px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__items {
  }
  &__item {
  }
}
