/* stylelint-disable */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../fonts/#{$url}");
    font-weight: #{$weight};
    font-style: $style;
  }
}